{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section d-flex align-items-start justify-content-between" style="margin-top: 75px">
    <div class="media d-flex align-items-center">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="" />
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <a href="{% url 'update_profile' %}" class="btn btn-primary btn-sm px-3 py-2 align-items-center">
        <i class="fas fa-pencil-alt"></i>
    </a>
</div>

{% for post in posts %}
<article class="media content-section d-flex flex-column">
    <div class="d-flex">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="" />
        <div class="media-body">
            <div class="article-metadata d-flex align-items-start">
                <div class="d-flex align-items-center" style="gap: 5px">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <div class="dropdown ms-auto">
                    <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" href="{% url 'post-update' post.id %}">Update</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'post-delete' post.id %}">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <h2 style="margin-top: auto">
                <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
            </h2>
            <p class="article-content">{{ post.content }}</p>
            <div class="post-rating">
                {% if user in post.likes.all %}
                <span class="post-rating-button material-icons liked" status="true" post-id="{{ post.id }}">thumb_up</span>
                {% else %}
                <span class="post-rating-button material-icons" status="false" post-id="{{ post.id }}">thumb_up</span>
                {% endif %}
                <span class="like-count" id="like-count-{{ post.id }}">{{ post.likes.count }}</span>
                <span class="post-rating-button material-icons comment">comment</span>
                <span class="comment-count">{{ post.count_comments_and_replies }}</span>
                <span class="post-rating-button material-icons">share</span>
            </div>
        </div>
    </div>

    <!-- Phần bình luận -->
    <div class="comments-container" style="display: none">
        <ul id="comments-list-{{ post.id }}" class="comments-list">
            {% for comment in post.comments.all %}
            <li>
                <div class="comment-main-level" comment-id="{{ comment.id }}">
                    <div class="rounded-circle comment-avatar">
                        <img src="{{ comment.author.profile.image.url }}" alt="" />
                    </div>
                    <div class="comment-box" data-comment-id="{{ comment.id }}">
                        <div class="comment-head">
                            <h6 class="comment-name">
                                <a href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}</a>
                            </h6>
                            {% load humanize %}
                            <span>{{ comment.date_posted|timesince }} ago</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">{{ comment.content }}</div>
                    </div>
                </div>

                <!-- Phần trả lời bình luận -->
                {% for reply in comment.replies.all %}
                <ul class="comments-list reply-list">
                    <li>
                        <div class="comment-avatar">
                            <img src="{{ reply.author.profile.image.url }}" alt="" />
                        </div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name">
                                    <a href="#">{{ reply.author.username }}</a>
                                </h6>
                                {% load humanize %}
                                <span>{{ reply.date_posted|timesince }} ago</span>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">{{ reply.content }}</div>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </li>
            {% empty %}
            <li class="comment-empty"><p>Chưa có bình luận nào.</p></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Phần input cho bình luận -->
    <div class="comments-input" data-reply-to-comment-id="">
        <input type="text" id="comment-input-{{ post.id }}" placeholder="Enter your comment" class="form-control" />
        <button class="btn btn-primary mt-1 submit-comment" data-post-id="{{ post.id }}">Send</button>
    </div>
</article>
{% endfor %}
{% endblock content %}
